/* jQuery UI is not loaded!
  this demo uses the "keyboard-dark.css" theme
  ( https://github.com/Mottie/Keyboard/blob/master/css/keyboard-dark.css )
  to add a basic dark theme to the keyboard

  The theme includes css to position the keyboard
  at the botom of the browser window
*/
 body {
    font-family: 'athena_rubyregular';
    margin-top: 10px;
    background: #222;
}

textarea, input {
    font-family: 'athena_rubyregular';
    width: 260px;
    background: #111;
    color: #eee;
    border: #444 1px solid;
    padding: 5px 0;
}

.ui-keyboard {
  height: 100%;
}

.ui-keyboard-text {
  font-family: 'athena_rubyregular';
}

.ui-widget input {
  font-family: 'athena_rubyregular';
}

.ui-keyboard-button.ui-keyboard-combo{
  border-width: 3px;
}

#input {
    display: block;
    margin: auto auto;
    width: 200px;
}

@font-face {
    font-family: 'athena_rubyregular';
    src: url('font/athenaruby_b018-webfont.eot');
    src: url('font/athenaruby_b018-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/athenaruby_b018-webfont.woff2') format('woff2'),
         url('font/athenaruby_b018-webfont.woff') format('woff'),
         url('font/athenaruby_b018-webfont.ttf') format('truetype'),
         url('font/athenaruby_b018-webfont.svg#athena_rubyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#instructions {
  color: white;
  position: fixed;
  bottom: 30%;
  margin-left: 25%;
  text-align: center;
}

#i_ex {
  color: #d58512
}

#a_ex {
  color: #269abc
}

/* custom css for previewkeyset */
/* basic previewKeyset setup - modify as desired */
.ui-keyboard-keyset .ui-keyboard-button {
	position: relative;
}
/* show mini-shift keyset with normal keyset */
.ui-keyboard-keyset-normal .ui-keyboard-button::after {
	content: attr(data-alt);
	font-size: 0.6em;
	color: #999;
	position: absolute;
	top: -1em;
	left: 2px;
	z-index: 200;
}
/* show mini-shift keyset with normal keyset */
.ui-keyboard-keyset-meta1 .ui-keyboard-button::after {
	content: attr(data-alt);
	font-size: 0.6em;
	color: #999;
	position: absolute;
	top: -1em;
	left: 2px;
	z-index: 200;
}
